{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Панель управления ассортиментом лотереи</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <style>
            body {
                background-color: white;
            }
            .custom-block {
                margin: 5% 15%;
                padding: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="custom-block">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Товары</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                    <h2 class="mt-3">Список товаров</h2>
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Этот блок занимает 30% ширины -->
                                <div>
                                    <h3>Категории</h3>
                                    <ul class="list-group">
                                        {% for category in categories %}
                                            <li class="list-group-item">
                                                <a href="#collapseCategory{{ category.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseCategory{{ category.id }}">
                                                    {{ category.category }}
                                                </a>
                                                <ul class="list-group collapse mt-2" id="collapseCategory{{ category.id }}">
                                                    {% for good in category.good_set.all %}
                                                        <li class="list-group-item">
                                                            <a href="#" class="good-item" data-id="{{ good.id }}" data-name="{{ good.good_name }}" data-category-id="{{good.category}}" data-category="{{ good.category.category }}" data-cost="{{ good.catalog_cost }}" data-pv="{{ good.pv_value }}">
                                                                {{ good.good_name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Карточка товара</h3>
                                <!-- Этот блок занимает оставшуюся ширину -->
                                <div id="good-details" class="card" style="display: none;">
                                    <div class="card-header">
                                        <h5 id="good-name"></h5>
                                    </div>
                                    <div class="card-body">
                                        <p><strong>Категория:</strong> <span id="good-category"></span></p>
                                        <p><strong>Цена в каталоге:</strong> <span id="good-cost"></span></p>
                                        <p><strong>Объем в PV:</strong> <span id="good-pv"></span></p>
                                        <!-- Блок с кнопками Удалить и Редактировать -->
                                        <div class="mt-3">
                                            <button id="edit-button" class="btn btn-primary">Редактировать</button>
                                            <button id="delete-button" class="btn btn-danger">Удалить</button>
                                            <!--Форма редактирования-->
                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <form id="editForm">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Редактирование товара</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <input type="hidden" id="editGoodId" name="good_id" value=""> <!-- проброс id -->
                                                        <!-- Поля для редактирования -->
                                                        <div class="form-group">
                                                          <label for="editName">Название товара</label>
                                                          <input type="text" class="form-control" id="editName" name="editName">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="editCategory">Категория товара</label>
                                                          <select class="form-control" id="editCategory" name="editCategory">
                                                            <!-- Опции для выпадающего списка с категориями -->
                                                            {% for category in categories %}
                                                              <option value="{{ category.id }}">{{ category.category }}</option>
                                                            {% endfor %}
                                                          </select>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="editCost">Цена в каталоге</label>
                                                          <input type="text" class="form-control" id="editCost" name="editCost">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="editPV">Объем в PV</label>
                                                          <input type="text" class="form-control" id="editPV" name="editPV">
                                                        </div>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                                      </div>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h3>Действия</h3>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block mb-2">Импорт данных</button>
                                        <button id="add_category_button" class="btn btn-primary btn-block mb-2">Добавить категорию</button>
                                        <!-- Модальное окно для добавления категории -->
                                        <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form id="addCategoryForm">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addCategoryModalLabel">Добавить категорию</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="categoryName">Название категории</label>
                                                                <input type="text" class="form-control" id="categoryName" name="category_name" required>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                            <button type="submit" class="btn btn-primary">Добавить</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="add_good_button" class="btn btn-primary btn-block mb-2">Добавить товар</button>
                                        <!-- Модальное окно для добавления товара -->
                                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form id="addForm">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addModalLabel">Добавить товар</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="addName">Название товара</label>
                                                                <input type="text" class="form-control" id="addName" name="good_name" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="addCategory">Категория</label>
                                                                <select class="form-control" id="addCategory" name="category_id" required>
                                                                    <!-- Категории будут динамически загружены -->
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="addCost">Цена</label>
                                                                <input type="number" class="form-control" id="addCost" name="catalog_cost" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="addPV">PV</label>
                                                                <input type="number" class="form-control" id="addPV" name="pv_value" required>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                            <button type="submit" class="btn btn-primary">Добавить</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="delete-category-button" class="btn btn-primary btn-block mb-2">Удалить категорию и подчиненные товары</button>
                                        <!-- Модальное окно для удаления категории -->
                                        <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteCategoryModalLabel">Удалить категорию</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="deleteCategoryForm">
                                                            <div class="form-group">
                                                                <label for="categorySelect">Выберите категорию</label>
                                                                <select class="form-control" id="categorySelect" name="category_id">
                                                                    <!-- Опции будут добавлены динамически -->
                                                                </select>
                                                            </div>
                                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Имя точно верное?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            // Функция для обновления боковой панели с категориями и товарами
            function refreshSidebar(categories, goods) {
                var $categoriesList = $('ul.list-group');
                $categoriesList.empty(); // Очищаем текущие элементы списка
                $.each(categories, function(index, category) {
                    var $categoryItem = $('<li>', { 'class': 'list-group-item' });
                    var $categoryLink = $('<a>', {
                        href: '#collapseCategory' + category.id,
                        'data-toggle': 'collapse',
                        'aria-expanded': 'false',
                        'aria-controls': 'collapseCategory' + category.id,
                        text: category.category,
                    });

                    var $goodsList = $('<ul>', {
                        'class': 'list-group collapse mt-2',
                        id: 'collapseCategory' + category.id
                    });

                    var filteredGoods = goods.filter(function(good) {
                        return good.category_id === category.id;
                    });

                    console.log("Filtered goods for category", category.id, filteredGoods);

                    $.each(filteredGoods, function(index, good) {
                        var $goodItem = $('<li>', { 'class': 'list-group-item' });
                        var $goodLink = $('<a>', {
                            href: '#',
                            'class': 'good-item',
                            'data-id': good.id,
                            'data-name': good.good_name,
                            'data-category-id': good.category_id,
                            'data-category': category.category,
                            'data-cost': good.catalog_cost,
                            'data-pv': good.pv_value,
                            text: good.good_name
                        });
                        $goodItem.append($goodLink);
                        $goodsList.append($goodItem);
                    });

                    $categoryItem.append($categoryLink);
                    $categoryItem.append($goodsList);
                    $categoriesList.append($categoryItem);
                });
            }

            $(document).ready(function() {
                // Обработчик кликов по элементам списка товаров (в том числе и добавленных динамически)
                $(document).on('click', '.good-item', function(e) {
                    e.preventDefault();
                    var goodName = $(this).data('name');
                    var goodCategory = $(this).data('category');
                    var goodCost = $(this).data('cost');
                    var goodPv = $(this).data('pv');
                    var goodId = $(this).data('id'); // Получаем ID товара
                
                    $('#good-name').text(goodName);
                    $('#good-category').text(goodCategory);
                    $('#good-cost').text(goodCost);
                    $('#good-pv').text(goodPv);
                
                    // Сохраняем ID товара в кнопках
                    $('#edit-button').data('id', goodId);
                    $('#delete-button').data('id', goodId);
                    $('#delete-button').data('name', goodName); // Сохраняем имя товара для уведомления
                
                    $('#good-details').show();
                });
            
                // Обработчик клика по кнопке Удалить
                $('#delete-button').click(function() {
                    var goodId = $(this).data('id');
                    var goodName = $(this).data('name'); // Получаем имя товара для уведомления
            
                    if (confirm('Вы уверены, что хотите удалить этот товар?')) {
                        $.ajax({
                            url: '{% url "delete_good" %}', // URL для обработки запроса на удаление
                            type: 'POST',
                            data: {
                                'id': goodId
                            },
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            success: function(response) {
                                if (response.success) {
                                    toastr.success('Товар ' + goodName + ' был удален из базы');
                                    $('#good-details').hide();
                                    // Удаляем товар из списка на странице, но без загрузки обновленных данных
                                    // Нет смысла гонять запросы если работать с базой будет кто-то один
                                $('.good-item[data-id="' + goodId + '"]').parent().remove();
                                } else {
                                    toastr.error('Произошла ошибка при удалении товара');
                                }
                            }
                        });
                    }
                });
            
                // Обработчик клика по кнопке "Редактировать"
                $('#edit-button').click(function() {
                    var good_id = $(this).data('id');
                    $.ajax({
                        url: '/get_good/' + good_id + '/', // Используется правильный шаблон тега url
                        type: 'GET',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(response){
                            $('#editName').val(response.good_name);
                            $('#editCategory').val(response.category_id);
                            $('#editCost').val(response.catalog_cost);
                            $('#editPV').val(response.pv_value);
                            $('#editGoodId').val(good_id); // Установка значения good_id
                            $('#editModal').modal('show');
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при получении данных');
                        }
                    });
                });    

                $('#editForm').submit(function(e) {
                    e.preventDefault(); // Предотвращаем стандартное поведение формы
            
                    var formData = $(this).serialize(); // Получаем данные формы в виде строки
                    var good_id = $('#editGoodId').val();
                    formData += '&good_id=' + good_id;
            
                    $.ajax({
                        type: 'POST',
                        url: '/update_good/',
                        data: formData,
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            toastr.success(response.message); // Выводим сообщение об успешном обновлении
                
                            // Закрываем модальное окно после успешного обновления
                            $('#editModal').modal('hide');
                            var categories = response.categories;
                            var goods = response.goods; 
                            refreshSidebar(categories,goods);
                            $('#good-details').css('display', 'none');
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при обновлении товара');
                            console.error(xhr.responseText);
                        }
                    });
                });

                //каскадное удаление по категории
                $('#delete-category-button').click(function() {
                    // Получение списка категорий с сервера
                    $.ajax({
                        type: 'GET',
                        url: '/get_categories/',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(categories) {
                            var $categorySelect = $('#categorySelect');
                            $categorySelect.empty(); // Очистка текущих опций
            
                            // Добавление опций в выпадающий список
                            $.each(categories, function(index, category) {
                                $categorySelect.append($('<option>', {
                                    value: category.id,
                                    text: category.category
                                }));
                            });
            
                            // Отображение модального окна
                            $('#deleteCategoryModal').modal('show');
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при получении списка категорий');
                            console.error(xhr.responseText);
                        }
                    });
                });

                // Обработчик отправки формы удаления категории
                $('#deleteCategoryForm').submit(function(e) {
                    e.preventDefault();

                    var confirmed = confirm('Вы уверены, что хотите удалить эту категорию и все связанные товары?');
                    if (!confirmed) {
                        return;
                    }

                    var formData = $(this).serialize(); // Получение данных формы

                    $.ajax({
                        type: 'POST',
                        url: '/delete_category/',
                        data: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            toastr.success(response.message); // Показ сообщения об успешном удалении

                            // Закрытие модального окна
                            $('#deleteCategoryModal').modal('hide');
                            var categories = response.categories;
                            var goods = response.goods; 
                            refreshSidebar(categories,goods);
                            // Обновление списка категорий и товаров на странице
                            // Здесь можно повторно вызвать функцию для получения и отображения актуального списка категорий и товаров
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при удалении категории');
                            console.error(xhr.responseText);
                        }
                    });
                });
            
                // Открытие модального окна для добавления товара
                $('#add_good_button').click(function() {
                        $.ajax({
                        type: 'GET',
                        url: '/get_categories/',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            var categories = response;
                            var $addCategory = $('#addCategory');
                            $addCategory.empty();
                            $.each(categories, function(index, category) {
                                var $option = $('<option>', {
                                    value: category.id,
                                    text: category.category
                                });
                                $addCategory.append($option);
                            });
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при загрузке категорий');
                            console.error(xhr.responseText);
                        }
                    });
                    $('#addModal').modal('show');
                });

                $('#addForm').submit(function(e) {
                    e.preventDefault(); // Предотвращаем стандартное поведение формы

                    var formData = $(this).serialize(); // Получаем данные формы в виде строки

                    $.ajax({
                        type: 'POST',
                        url: '/add_good/',
                        data: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            toastr.success(response.message); // Выводим сообщение об успешном добавлении

                            // Закрываем модальное окно после успешного добавления
                            $('#addModal').modal('hide');

                            // Обновляем данные о категориях и товарах на странице
                            refreshSidebar(response.categories, response.goods);
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при добавлении товара');
                            console.error(xhr.responseText);
                        }
                    });
                });
            
                // Открытие модального окна для добавления категории
                $('#add_category_button').click(function() {
                    $('#addCategoryModal').modal('show');
                });

                // Обработчик отправки формы добавления категории
                $('#addCategoryForm').submit(function(e) {
                    e.preventDefault(); // Предотвращаем стандартное поведение формы

                    var formData = $(this).serialize(); // Получаем данные формы в виде строки

                    $.ajax({
                        type: 'POST',
                        url: '/add_category/',
                        data: formData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        success: function(response) {
                            toastr.success(response.message); // Выводим сообщение об успешном добавлении

                            // Закрываем модальное окно после успешного добавления
                            $('#addCategoryModal').modal('hide');

                            // Обновляем данные о категориях на странице
                            refreshSidebar(response.categories, response.goods);
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Произошла ошибка при добавлении категории');
                            console.error(xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </body>
</html>