{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Расчет лотереи</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container flex-grow-1">
            <div class="row p-5">
              <div class="col-md-3">
                <!-- Левая колонка -->
                <div>
                    <h3>Категории</h3>
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <a href="#collapseCategory{{ category.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseCategory{{ category.id }}">
                                    {{ category.category }}
                                </a>
                                <ul class="list-group collapse mt-2" id="collapseCategory{{ category.id }}">
                                    {% for good in category.good_set.all %}
                                        <li class="list-group-item">
                                            <a href="#" class="good-item" data-id="{{ good.id }}" data-name="{{ good.good_name }}" data-category-id="{{good.category}}" data-category="{{ good.category.category }}" data-cost="{{ good.catalog_cost }}" data-pv="{{ good.pv_value }}">
                                                {{ good.good_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
              <div class="col-md-9">
                <!-- Правая колонка -->
                <h3>Выбранные позиции</h3>
                <div class="table">
                    <table class="table table-bordered" id="selectedItemsTable">
                        <thead>
                            <tr>
                              <th>№</th>
                              <th>Наименование</th>
                              <th>Цена</th>
                              <th>За подарочные</th>
                              <th>Объем в PV</th>
                              <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- Строки будут добавлены сюда динамически -->
                            <tr id="totalsRow">
                                <td colspan="2" class="text-right"><strong>Итого:</strong></td>
                                <td><strong id="totalCost">0.00</strong></td>
                                <td></td>
                                <td><strong id="totalPV">0.00</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
          <footer class="bg-light py-3 mt-auto text-center">
            <!-- Footer -->
            <p>Made by <a href="https://t.me/crazee_13">Nickie</a> for <a href="https://heroes-tools.ru/">SuperHeroes Greenway</a></p>
          </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="{% static 'calculator/js/script.js' %}"></script>
    </body>
</html>